<% include components/_header.ejs %>
<% if(user === undefined){ %>
    <% include components/_navbar_guest.ejs %>
<% }else{ %>
    <% include components/_navbar_auth.ejs %>
<% } %>
<div class="c">
    <h5 class="center-align">About book</h5>
    <div class="section">
        <h5>Name:</h5>
        <p><%= book.name %></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Author:</h5>
        <p><%= book.author %></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Page count:</h5>
        <p><%= book.page_count %></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Address:</h5>
        <p><%= library.location %>,<%= library.name %></p>
    </div>
</div>
<% include components/_footer.ejs %>