<% include components/_header.ejs %>
<% if(user === undefined){ %>
    <% include components/_navbar_guest.ejs %>
<% }else{ %>
    <% include components/_navbar_auth.ejs %>
<% } %>
<div class="container">
    <table class="highlight">
        <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Library</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% booklist.forEach(function (book) { %>
            <tr onclick="document.location='/aboutbook/<%= book.id%>'">
                <td><%= book.name %></td>
                <td><%= book.author %></td>
                <td ><%= library[book.library_id - 1].name %></td>
                <td>
                    <p>
                        <label>
                            <input type="checkbox" disabled="disabled" <%= book.status ? "checked " : "" %> />
                            <span><%= book.status ? "In Use":"In Library" %></span>
                        </label>
                    </p>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<% include components/_footer.ejs %>