<% include components/_header.ejs %>
<% include components/_navbar_auth.ejs%>
<div class="c">
    <form method="post" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea   id="name" name="name"  class="materialize-textarea"><%=book.name%></textarea>
                <label for="textarea1">Book Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="author" name="author"  class="materialize-textarea"><%=book.author%></textarea>
                <label for="textarea1">Author</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input name="page_count" type="number" min="1" max="9000" value="<%=book.page_count%>"  onKeyDown="limitText(this,3)">
                <label for="textarea1">Page count</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="year" type="number" min="1900" max="2100" value="<%=book.year%>" onKeyDown="limitText(this,3)">
                <label for="textarea1">YYYY</label>
            </div>
        </div>
        <script type="text/javascript">
            function limitText(limitField, limitNum) {
                if (limitField.value.length > limitNum) {
                    limitField.value = limitField.value.substring(0, limitNum);
                }
            }
       </script>

    </form>
    <form action="/editbook/<%= book.id%>" method="post" style="display: inline-block">
        <button class="btn waves-effect waves-light red accent-1" type="submit" name="action">Edit
            <i class="material-icons right">send</i>
        </button>
    </form>
    <form action="/cancel" method="post" style="display: inline-block">
        <button class="btn waves-effect waves-light red accent-1" type="submit" name="action">Cancel
            <i class="material-icons right">cancel</i>
        </button>
    </form>
    <form action="/delete/<%=book.id%>" method="post" style="display: inline-block">
        <button class="btn waves-effect waves-light red accent-1" type="submit" name="action">Delete
            <i class="material-icons right">delete</i>
        </button>
    </form>
</div>
<% include components/_footer.ejs %>