<% include _header %>
<% include _navbar_auth.ejs %>
<div class="container">
    <table class="highlight">
        <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Date</th>
            <th>Page count</th>
            <th>Library</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% booklist.forEach(function (book) { %>
            <tr>
                <td onclick="document.location='/index'"><%= book.name %></td>
                <td><%= book.author %></td>
                <td><%= book.year %></td>
                <td><%= book.page_count %></td>
                <td onclick="document.location='/library'"><%= library[book.library_id - 1].name %></td>
                <td><i onclick="document.location='/book_edit/:id'" class="material-icons">edit</i></td>
                <td>
                    <p>
                        <label>
                            <input id="createSS" onclick="document.location='/booklist/<%= book.id %>'"
                                   type="checkbox" <%= book.status ?
                                    "checked " : "" %> />
                            <span><%= book.status ? "In Use":"In Library" %></span>
                        </label>
                    </p>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<% include _footer %>